{minimum_otp_vsn, "27"}.

{erl_opts, [
    debug_info,
    report,
    verbose,
    warnings_as_errors
]}.

{project_plugins, [
    erlfmt,
    rebar3_ex_doc,
    rebar3_hex,
    rebar3_lint
]}.

{deps, [simpler_cowboy_rest]}.

{alias, [
    {ci, [xref, dialyzer]}
]}.

{dialyzer, [
    {warnings, [
        no_unknown
    ]}
]}.

{relx, [
    {release, {simpler_cowboy_rest_example, semver}, [simpler_cowboy_rest_example]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{shell, [{apps, [simpler_cowboy_rest_example]}, {config, "config/sys.config"}]}.
