[
    {simpler_cowboy_rest, [
        {shared_impl, simpler_cowboy_rest_example_shared}
    ]},

    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                filter_default => log,
                filters => [
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}},
                    {progress, {fun logger_filters:domain/2, {stop, equal, [progress]}}}
                ],
                formatter =>
                    {logger_formatter, #{
                        template => [
                            time, ": ", msg, " for MFA ", simpler_cowboy_rest_dispatched_to, "\n"
                        ]
                    }}
            }}
        ]}
    ]}
].
