[
    {config, [
        #{
            files => ["src/**/*.erl", "example/src/**/*.erl"],
            ruleset => erl_files,
            rules => [
                {elvis_style, no_god_modules, disable},
                {elvis_style, macro_naming_convention, disable}
            ]
        },
        #{
            files => ["rebar.config", "example/rebar.config"],
            ruleset => rebar_config
        }
    ]}
].
