[
    {elvis, [
        {config, [
            #{
                dirs => ["src/**", "example/src/**"],
                filter => "*.erl",
                ruleset => erl_files,
                rules => [
                    {elvis_style, no_god_modules, disable},
                    {elvis_style, macro_naming_convention, disable}
                ]
            },
            #{
                dirs => [".", "example/"],
                filter => "rebar.config",
                ruleset => rebar_config
            }
        ]}
    ]}
].
