{minimum_otp_vsn, "27"}.

{erl_opts, [
    debug_info,
    report,
    verbose,
    warnings_as_errors
]}.

{project_plugins, [
    {erlfmt, "1.7.0"},
    {rebar3_ex_doc, "0.2.30"},
    {rebar3_hex, "7.0.11"},
    {rebar3_lint, "4.1.1"}
]}.

{deps, [{cowboy, "2.13.0"}, {cowlib, "2.15.0"}]}.

{overrides, [
    {override, cowboy, [{deps, [ranch]}]}
]}.

{alias, [
    {ci, [fmt, lint, xref, dialyzer, ex_doc]}
]}.

{erlfmt, [
    write,
    {files, [
        "elvis.config",
        "rebar.config",
        "src/*.app.src",
        "src/**/*.erl",
        "example/rebar.config",
        "example/config/sys.config",
        "example/src/*.app.src",
        "example/src/**/*.erl"
    ]}
]}.

{dialyzer, [
    {warnings, [
        no_unknown
    ]}
]}.

{xref_checks, [
    exports_not_used
]}.

{ex_doc, [
    {extras, [
        "README.md",
        "SECURITY.md",
        "CODE_OF_CONDUCT.md",
        "CONTRIBUTING.md",
        "LICENSE.md",
        "CHANGELOG.md"
    ]},
    {main, "README.md"},
    {api_reference, false},
    {source_url, "https://github.com/paulo-ferraz-oliveira/simpler_cowboy_rest"},
    {prefix_ref_vsn_with_v, false}
]}.

{hex, [{doc, #{provider => ex_doc}}]}.
